.wrapper {
	text-align: center;
}

iframe {
	border: 0px;
	width: 900px;
	height: 560px;
	margin: auto;

	/* display changes based on showVideo button */
	display: none;
	align-self: center;
	justify-self: center;
}

p {
	text-align: center;
	align-self: center;
	justify-self: center;
}
#logo {
	padding-top: 10px;
	padding-bottom: 15px;
}
